<div class="container">
  <h1 id="show-title" class="center"><%= @howler.title %></h1>
  <p id="show-content" class="center"><%= @howler.text %></p>

  <div class="data" data-id = '<%= @howler.id  %>'  data-anger="<%= @howler.anger %>" data-disgust="<%= @howler.disgust %>"  data-fear="<%= @howler.fear %>" data-conscientiousness="<%= @howler.conscientiousness %>"
    data-joy="<%= @howler.joy %>" data-sadness="<%= @howler.sadness %>" data-analytical="<%= @howler.analytical %>" data-confident="<%= @howler.confident %>" data-tentative="<%= @howler.tentative %>" data-openness="<%= @howler.openness %>"
    data-extraversion="<%= @howler.extraversion %>" data-agreeableness="<%= @howler.agreeableness %>" data-emotional-range="<%= @howler.emotional_range %>">
  </div>

  <div id="show-emotion-chart">

  </div>

  <div id="show-language-chart">

  </div>

  <div id="show-social-chart">

  </div>

  <script id="show-emotion-chart-script">

  </script>

  <script id="show-language-chart-script">

  </script>

  <script id="show-social-chart-script">

  </script>

<div class="row">

  <table class='col s4'>
    <thead>
      <th>Tone</th>
      <th>Score</th>
    </thead>
    <tbody>
      <tr>
        <td>Anger</td>
        <td id='anger-data'><%= number_to_percentage multiplier(@howler.anger) %></td>
      </tr>
      <tr>
        <td>Disgust</td>
        <td id='disgust-data'><%= number_to_percentage multiplier(@howler.disgust) %></td>
      </tr>
      <tr>
        <td>Fear</td>
        <td id="fear-data"><%= number_to_percentage multiplier(@howler.fear) %></td>
      </tr>
      <tr>
        <td>Joy</td>
        <td id="joy-data"><%= number_to_percentage multiplier @howler.joy %></td>
      </tr>
      <tr>
        <td>Sadness</td>
        <td id="sadness-data"><%= number_to_percentage multiplier @howler.sadness %></td>
      </tr>
    </tbody>
  </table>
  <table class='col s4'>
    <thead>
      <th>Tone</th>
      <th>Score</th>
    </thead>
    <tbody>
      <tr>
        <td>Analytical</td>
        <td id="analytical-data"><%= number_to_percentage multiplier(@howler.analytical) %></td>
      </tr>
      <tr>
        <td>Confident</td>
        <td id="confident-data"><%= number_to_percentage multiplier @howler.confident %></td>
      </tr>
      <td>Tentative</td>
      <td id="tentative-data"><%= number_to_percentage multiplier @howler.tentative %></td>
    </tbody>
  </table>
  <table class='col s4'>
    <thead>
      <th>Tone</th>
      <th>Score</th>
    </thead>
    <tbody>
      <tr>
        <td>Openness</td>
        <td id="openness-data"><%= number_to_percentage multiplier @howler.openness %></td>
      </tr>
      <tr>
        <td>Conscientiousness</td>
        <td id="conscientiousness-data"><%= number_to_percentage multiplier @howler.conscientiousness %></td>
      </tr>
      <tr>
        <td>Extraversion</td>
        <td id="extraversion-data"><%= number_to_percentage multiplier @howler.extraversion %></td>
      </tr>
      <tr>
        <td>Agreeableness</td>
        <td id="agreeableness-data"><%= number_to_percentage multiplier @howler.agreeableness %></td>
      </tr>
      <tr>
        <td>Emotional Range</td>
        <td id="emotional-range-data"><%= number_to_percentage multiplier @howler.emotional_range %></td>
      </tr>
    </tbody>

</div>

</div>
