<div class = 'container'>
  <h1 class='center'>My Howlers</h1>

  <div class="row">
    <% @howlers.each do |howler| %>
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <div class="data-<%= howler.id %>" data-id='<%= howler.id %>' data-title='<%= howler.title %>' data-openness="<%= howler.openness %>" data-conscientiousness="<%= howler.conscientiousness %>" data-extraversion="<%= howler.extraversion %>" data-agreeableness="<%= howler.agreeableness %>" data-emotional-range="<%= howler.emotional_range %>">
            <span class="card-title"><%= link_to howler.title, howler_path(howler) %></span>

            <div  id="small-social-chart-<%= howler.id %>" style='height: 300px'></div>
            <script id="small-graph-<%= howler.id %>"></script>
            <script type="text/javascript">
            function makeChart(){
              var chartId = $(`.data-${<%= howler.id %>}`).data('id')

              var doSocialChart = $(function () {
                var myOtheOtherrChart = Highcharts.chart(`small-social-chart-${chartId}`, {
                  chart: {
                    polar: true
                  },
                  title: {
                    text: 'Social Data'
                  },
                  xAxis: {
                    categories: ['Openness', 'Conscientiousness', 'Extraversion', 'Agreeableness', 'Emotional Range']
                  },

                  series: [{
                    type: 'area',
                    name: 'Tones',
                    data: [$(`.data-${chartId}`).data("openness"), $(`.data-${chartId}`).data("conscientiousness"), $(`.data-${chartId}`).data("extraversion"),  $(`.data-${chartId}`).data("agreeableness"), $(`.data-${chartId}`).data("emotional-range")]
                  }],

                    });
                  });
                  $(`.small-graph-${chartId}`).add(doSocialChart)
                }
                makeChart()
              </script>
            </div>
          </div>
          <%= link_to "Delete Howler", howler, :method => :delete %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
